# npm
node_modules
package-lock.json
*.log
*.gz

# Coveralls
.nyc_output
coverage

# Benchmarking
benchmarks/graphs

.env
.env.local
.env.local.development
# ignore additional files using core.excludesFile
# https://git-scm.com/docs/gitignore

prisma/migrations

public/assets/img/post/*